server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 24h

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/blocks
    wal:
      path: /tmp/tempo/wal

metrics_generator:
  registry:
    collection_interval: 10s
  processor:
    span_metrics:
      dimensions: ["service.name", "name", "status.code"]
    service_graphs:
      dimensions: ["service.name"]
  storage:
    path: /tmp/tempo/generator
  ring:
    kvstore:
      store: inmemory
